@using SalesLT.Repositories;
@model  Customer

@{
    ViewBag.Title = "Edit Customer";
}

<div class="row">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

@using (Html.BeginForm("UpdateCustomer", "Sales"))
{
    <div class="row">
        @Html.HiddenFor(Model => Model.Id)
        <div class="col-lg-4">
            <h3>Customer Information</h3>
            <div class="form-group">
                @Html.LabelFor(Model => Model.FirstName, "First Name", new { })
                @Html.EditorFor(Model => Model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.MiddleName, "Middle Name", new { })
                @Html.EditorFor(Model => Model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.LastName, "Last Name", new { })
                @Html.EditorFor(Model => Model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.EmailAddress, "Email Address", new { })
                @Html.EditorFor(Model => Model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Phone, "Phone", new { })
                @Html.EditorFor(Model => Model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-4">
            @for (int i = 0; i < Model.CustomerAddresses.Count(); i++)
            {
                var addressNumber = 1;
                addressNumber = addressNumber + i;
                <h3>Address @addressNumber</h3>
                @Html.HiddenFor(Model => Model.CustomerAddresses[i].Address.AddressId)
                <div class="form-group">
                    @Html.LabelFor(Model => Model.CustomerAddresses[i].Address.AddressLine1, "Address", new { })
                    @Html.EditorFor(Model => Model.CustomerAddresses[i].Address.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.CustomerAddresses[i].Address.AddressLine2, "Apt/Suite", new { })
                    @Html.EditorFor(Model => Model.CustomerAddresses[i].Address.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.CustomerAddresses[i].Address.City, "City", new { })
                    @Html.EditorFor(Model => Model.CustomerAddresses[i].Address.City, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.CustomerAddresses[i].Address.StateProvince, "State", new { })
                    @Html.EditorFor(Model => Model.CustomerAddresses[i].Address.StateProvince, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.CustomerAddresses[i].Address.CountryRegion, "Country", new { })
                    @Html.EditorFor(Model => Model.CustomerAddresses[i].Address.CountryRegion, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.CustomerAddresses[i].Address.PostalCode, "ZIP", new { })
                    @Html.EditorFor(Model => Model.CustomerAddresses[i].Address.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            }

            <button class="btn btn-success btn-sm">+ Add Address</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            @Html.ActionLink("Back", "Index", "Sales", new object { }, new { @class = "btn btn-link" })
            <input type="submit" value="Update Customer" class="btn btn-primary" />
        </div>
    </div>
}
